
<link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
.myproduct {
	background-image: url('https://images.unsplash.com/photo-1578730170523-5b38283b0951?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 200px;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.btn btn-primary {
	color: blue;
}


